.header {
    width: 100%;
    left: 0;
    background-color: #D4EDDA;
    position: absolute;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    max-width: 50px;
}

